*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
nav{
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 184px;

}
/* .logo{
   display: flex;
   justify-content: center;
    
} */
.right ul{
   display: flex;   
   list-style: none;
   gap: 20px;
}   
.right ul li{
    display: flex;
    align-items: center;
    margin: 20px;
}
